In [24]:
import pandas as pd

In [25]:
TyPhoon = ['da','rum','bary','tte','hhd']
Pr = [968, 980, 965, 970, 973]

TyDataSet = list(zip(TyPhoon,Pr))
df = pd.DataFrame(data = TyDataSet, columns=['TyPhoon', 'Pr'])

In [26]:
df.head()

  TyPhoon   Pr
0      da  968
1     rum  980
2    bary  965
3     tte  970
4     hhd  973

In [27]:
df[df['Pr'] > 970]

  TyPhoon   Pr
1     rum  980
4     hhd  973

In [28]:
df.describe()

               Pr
count    5.000000
mean   971.200000
std      5.718391
min    965.000000
25%    968.000000
50%    970.000000
75%    973.000000
max    980.000000