In [8]:
import pandas as pd

In [17]:
TyPhoon = ['da','rum','bary','tte','hhd']
Pr = [968, 980, 965, 970, 973]
Wind = [1, 5, 25, 13, 33]

TyDataSet = list(zip(TyPhoon,Pr))
df = pd.DataFrame(data = TyDataSet, columns=['TyPhoon', 'Pr'])

In [14]:
df.head()

  TyPhoon   Pr
0      da  968
1     rum  980
2    bary  965
3     tte  970
4     hhd  973

In [20]:
df[df['Pr'] > 970]

  TyPhoon   Pr
1     rum  980
4     hhd  973