### a:시작 값 d: 등차 n:몇번째

In [4]:
a,d,n=input('a,d,n 입력').split()

a=int(a)
d=int(d)
n=int(n)

#print(a+d*(n-1))

for i in range(n-1):
    a=a+d

print(a)

a,d,n 입력1 3 5
13

### c:시작 값 v:등비 m:몇번째

In [8]:
c,v,m=input('c,v,m 입력').split()

c=int(c)
v=int(v)
m=int(m)

#print(c*(v**(m-1)))

for q in range(m-1):
   c=c*v

print(c)

c,v,m 입력2 3 4
54

### 1 -1 3 -5 11 -21 43